---
import Label from "./label.astro";
import TextArea from "./textarea.astro";
---

<form
  id="solicitud"
  method="POST"
  class="flex flex-col md:flex-row justify-center gap-8 pt-15"
>
  <div class="flex basis-1/2 items-center px-2">
    <h2 class="ubuntu-regular text-xl md:text-2xl text-prettier">
      Si necesitas de algún servicio relacionado a la informatica y/o negocios,
      <span class="font-bold text-color-primary">contactame!</span>
    </h2>
  </div>
  <div class="flex basis-1/2 flex-col justify-center gap-6 px-2">
    <Label
      id="name"
      type="text"
      label="Nombre"
      placeholder="Nombre y apellido"
    />
    <Label
      id="email"
      type="email"
      label="Correo electrónico"
      placeholder="nombre@ejemplo.com"
    />
    <TextArea
      id="message"
      label="Mensaje"
      placeholder="Escribe aqui tu mensaje"
    />
    <button
      id="enviar"
      type="submit"
      class="bg-button w-[50%] border-green-400 shadow-sm rounded-md ubuntu-regular text-primary font-semibold cursor-pointer py-0.5"
      >Enviar</button
    >
  </div>
</form>

<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("#solicitud") as HTMLFormElement;
  const button = document.querySelector("#enviar") as HTMLButtonElement;
  const labelName = document.querySelector("#name") as HTMLInputElement;
  const labelEmail = document.querySelector("#email") as HTMLInputElement;
  const labelMessage = document.querySelector("#message") as HTMLInputElement;

  if (form) {
    form.addEventListener("submit", async (e) => {
      e.preventDefault();

      const formData = new FormData(form);

      try {
        const { data, error } = await actions.sendMessage(formData);

        if (error) {
          console.error("Error:", error);
        } else {
          if (button) {
            button.textContent = "Enviado";
            button.classList.add("bg-button-sent");
            button.classList.remove("bg-button", "cursor-pointer");
            button.disabled = true;
            labelName.disabled = true;
            labelEmail.disabled = true;
            labelMessage.disabled = true;
          }
          console.log("Exito:", data);
        }
      } catch (error) {
        console.log(error);
      }
    });
  }
</script>

<style>
  .bg-button {
    background: #68e64f;
    transition:
      background 0.4s ease-in-out,
      box-shadow 0.4s ease-in-out,
      color 0.3s ease-in-out;
    animation:
      bgColorChange 3s cubic-bezier(0, 0.45, 1, 0.45) 1s infinite,
      bgShadow 3s infinite;
    animation-fill-mode: forwards;
  }

  .bg-button-sent {
    background: #94cf88;
    box-shadow:
      inset -10px 10px 6px -15px rgba(255, 255, 255, 0.4),
      inset 0 -10px 20px -10px rgba(0, 0, 0, 0.25);

    box-shadow:
      4px 4px 4px 0px rgba(0, 0, 0, 0.25),
      inset 1px 2px 2px 0px rgb(255, 255, 255, 0.8);
  }

  .bg-button:hover {
    box-shadow: 0 0 7px #68e64f;
    color: white;
    animation:
      bgColorHover 5s linear infinite,
      bgShadowHover 5s infinite;
    animation-fill-mode: forwards;
  }

  @keyframes bgColorChange {
    0% {
      background: #68e64f; /* Verde oscuro */
    }
    25% {
      background: #68e64f; /* Regresa a negro */
    }
    50% {
      background: #a2f891; /* Verde claro */
    }
    75% {
      background: #68e64f; /* Regresa a negro */
    }
    100% {
      background: #68e64f; /* Regresa a negro */
    }
  }

  @keyframes bgColorHover {
    20% {
      background: #16c98d; /* Verde oscuro */
    }
    40% {
      background: #303eff; /* Verde claro */
    }
    60% {
      background: #ff3bff; /* Regresa a negro */
    }
    80% {
      background: #4db637; /* Regresa a negro */
    }
  }

  @keyframes bgShadow {
    0% {
      box-shadow: 0 0 7px #7eff64;
    }
    25% {
      box-shadow: 0 0 8px #7eff64;
    }
    50% {
      box-shadow: 0 0 10px #a2f891;
    }
    75% {
      box-shadow: 0 0 8px #7eff64;
    }
    100% {
      box-shadow: 0 0 7px #7eff64;
    }
  }

  @keyframes bgShadowHover {
    20% {
      box-shadow: 0 0 7px #16c98d; /* Verde oscuro */
    }
    40% {
      box-shadow: 0 0 7px #303eff; /* Verde claro */
    }
    60% {
      box-shadow: 0 0 7px #ff3bff; /* Regresa a negro */
    }
    80% {
      box-shadow: 0 0 7px #4db637; /* Regresa a negro */
    }
  }
</style>
