---
import Label from "./label.astro";
import TextArea from "./textarea.astro";
---

<form class="flex flex-col md:flex-row justify-center gap-8 py-15">
  <div class="flex basis-1/2 items-center px-2">
    <h2 class="ubuntu-regular text-xl md:text-2xl text-prettier">
      Si necesitas de algún servicio relacionado a la informatica y/o negocios,
      <span class="font-bold text-color-primary">contactame!</span>
    </h2>
  </div>
  <div class="flex basis-1/2 flex-col justify-center gap-8 px-2">
    <Label id="name" type="text" placeholder="Nombre" />
    <Label id="email" type="email" placeholder="Correo" />
    <TextArea id="content" placeholder="Mensaje" />
    <button
      class="bg-button w-[50%] border-green-400 shadow-sm rounded-md ubuntu-regular font-semibold cursor-pointer py-0.5"
      >Enviar</button
    >
  </div>
</form>

<style>
  .bg-button {
    background: #5cda43;
    color: black;
    transition:
      background 0.4s ease-in-out,
      box-shadow 0.4s ease-in-out,
      color 0.3s ease-in-out;
    animation:
      bgColorChange 5s cubic-bezier(0, 0.45, 1, 0.45) 1s infinite,
      bgShadow 5s infinite;
    animation-fill-mode: forwards;
  }

  .bg-button:hover {
    box-shadow: 0 0 7px #5cda43;
    color: white;
    animation:
      bgColorHover 5s linear infinite,
      bgShadowHover 5s infinite;
    animation-fill-mode: forwards;
  }

  @keyframes bgColorChange {
    0% {
      background: #5cda43; /* Verde oscuro */
    }
    25% {
      background: #5cda43; /* Regresa a negro */
    }
    50% {
      background: #41af2b; /* Verde claro */
    }
    75% {
      background: #5cda43; /* Regresa a negro */
    }
    100% {
      background: #5cda43; /* Regresa a negro */
    }
  }

  @keyframes bgColorHover {
    20% {
      background: #16c98d; /* Verde oscuro */
    }
    40% {
      background: #2d00cf; /* Verde claro */
    }
    60% {
      background: #3f063f; /* Regresa a negro */
    }
    80% {
      background: black; /* Regresa a negro */
    }
  }

  @keyframes bgShadow {
    0% {
      box-shadow: 0 0 7px #5cda43;
    }
    25% {
      box-shadow: 0 0 7px #5cda43;
    }
    50% {
      box-shadow: 0 0 7px #5cda43;
    }
    75% {
      box-shadow: 0 0 14px #41af2b;
    }
    100% {
      box-shadow: 0 0 7px #5cda43;
    }
  }

  @keyframes bgShadowHover {
    20% {
      box-shadow: 0 0 7px #16c98d; /* Verde oscuro */
    }
    40% {
      box-shadow: 0 0 7px #2d00cf; /* Verde claro */
    }
    60% {
      box-shadow: 0 0 7px #3f063f; /* Regresa a negro */
    }
    80% {
      box-shadow: 0 0 7px black; /* Regresa a negro */
    }
  }
</style>
