---
const { id, placeholder } = Astro.props;
---

<div>
  <label for={id} class="block w-full text-sm font-medium text-gray-700">
    {placeholder}
  </label>

  <textarea
    id={id}
    class="mt-2 w-full rounded-lg border-gray-200 align-top shadow-sm sm:text-sm"
    rows="4"
    placeholder={placeholder}></textarea>
</div>
