---
const { href } = Astro.props;
---

<a class="link" target="_blank" rel="nofollow" href={href}><slot /></a>

<style>
  .link {
    position: relative;
    transition: color 0.2s ease-in-out;
  }

  .link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    transition:
      transform 0.2s ease-in-out,
      height 0.2s ease-in-out,
      bottom 0.2s ease-in-out;
    pointer-events: none;
  }

  .link:hover {
    animation: textColorChange 4s cubic-bezier(0.1, 0, 0.8, 1) infinite;
  }

  .link:hover::after {
    bottom: -9px;
    transform: scaleX(0.6);
  }

  @keyframes textColorChange {
    10% {
      color: #16c98d;
    }
    35% {
      color: #303eff;
    }
    75% {
      color: #ff3bff;
    }
    90% {
      color: #000000;
    }
  }
</style>
