---
import Link from "./link.astro";
---

<ul class="flex flex-row gap-8">
  <li><Link href="mailto:1bryanvalenzuela@gmail.com">Mail</Link></li><li>
    <Link href="https://github.com/1bryanvalenzuela">Github</Link>
  </li><li>
    <Link href="https://www.linkedin.com/in/1bryanvalenzuela/">Linkedin</Link>
  </li>
</ul>
<ul class="flex">
  <li>
    <Link href="/cv_bryanv.pdf">Curriculum Vitae</Link>
  </li>
</ul>
