---
import Link from "./link.astro";
---

<ul class="flex flex-row gap-8">
  <li><Link href="#">Mail</Link></li><li>
    <Link href="#">Github</Link>
  </li><li>
    <Link href="#">Linkedin</Link>
  </li>
</ul>
<ul class="flex">
  <li>
    <Link href="#">Curriculum Vitae</Link>
  </li>
</ul>
