---
const { img, title, tags, link } = Astro.props;

import Image from "astro/components/Image.astro";
const tagsArray = Object.values(tags);
const images = import.meta.glob("../assets/*");
---

<a
  href={link}
  target="_blank"
  rel="nofollow"
  class="flex flex-col border-card rounded-lg p-2 mx-8 md:m-0 contenedor-style bg-card backdrop-opacity-50 transition-all text-primary"
>
  <div class="flex flex-col md:flex-row gap-4 md:gap-2">
    <Image
      src={img ? images[img]() : img}
      alt=`${title} página`
      loading="lazy"
      class="rounded-lg h-auto w-full max-w-70 md:w-auto md:max-h-40 mx-auto md:mx-0"
    />
    <div class="flex flex-col gap-4 md:gap-2 px-2">
      <span
        class="text-start text-primary ubuntu-mono-regular text-lg md:text-xl font-bold"
      >
        {title}
      </span>
      <p class="text-justify"><slot /></p>
      <div class="flex flex-wrap gap-2 justify-end items-end mt-auto">
        {
          tagsArray.map((tag) => (
            <span class="rounded-lg bg-tag p-1 leading-none">
              <span class="text-black px-1 text-sm md:text-md font-semibold">
                {tag}
              </span>
            </span>
          ))
        }
      </div>
    </div>
  </div>
</a>

<style>
  .bg-tag {
    background: linear-gradient(175deg, #67dab3 20%, #16c98d 120%);
    filter: saturate(75%);
  }

  .border-card {
    position: relative;
    border: 3px solid transparent;
    transition:
      border 0.3s ease-in-out,
      border-color 0.3s ease-in-out,
      box-shadow 0.3s ease-in-out;
  }

  .border-card:hover {
    border: 3px solid #16c98d;
    box-shadow: 0 0 7px #16b4c9;
    animation:
      borderColorChange 4s cubic-bezier(0.1, 0, 0.8, 1) 0.3s infinite,
      bgShadowHover 4s cubic-bezier(0.1, 0, 0.8, 1) 0.3s infinite;
  }

  @keyframes borderColorChange {
    10% {
      border-color: #16c98d;
    }
    35% {
      border-color: #303eff;
    }
    75% {
      border-color: #ff3bff;
    }
    90% {
      border-color: #000000;
    }
  }
</style>
