---
const { language } = Astro.props;
---

<div class="flex justify-center w-full bg-footer py-2.5">
  <div
    class="flex flex-col w-[720px] ubuntu-mono-regular text-white cursor-default"
  >
    <span class="text-sm px-8 md:px-0"
      >Bryan Valenzuela Cáceres, Chile. © 2025</span
    >
    <span class="text-sm px-8 md:px-0">
      {
        language == "es"
          ? "Ingeniero en Negocios Internacionales"
          : "International Business Engineer"
      }</span
    >
  </div>
</div>

<style>
  .bg-footer {
    background: linear-gradient(
        164deg,
        #0c0c0c 0%,
        #0c0c0c 15%,
        #16c98d 29%,
        #303eff 58%,
        #0c0c0c 100%
      )
      repeat;
  }
</style>
