---
import Image from "astro/components/Image.astro";
import Menu from "../assets/menu.svg";

const { language } = Astro.props;
---

<nav
  id="header-container"
  class="fixed w-full flex md:justify-center md:pe-0 justify-end pe-10 py-6 z-10"
>
  <div
    id="header"
    class="relative justify-center bg-primary rounded-lg contenedor-style"
  >
    <button id="menu-button" class="block md:hidden cursor-pointer">
      <Image class="m-2.5 md:mx-8" src={Menu} alt="" />
    </button>
    <ul
      id="menu-links"
      class="hidden md:flex flex-col md:flex-row gap-2 md:gap-8 text-color-primary ubuntu-mono-regular p-3 md:py-1.5 md:px-7 text-lg font-bold"
    >
      <li class="pb-1 md:p-0 text-color-primary">
        <a href="#inicio" class="linkheader"
          >{language == "es" ? "/Inicio" : "/Home"}</a
        >
      </li>
      <li class="pb-1 md:p-0 text-color-primary">
        <a href="#projects" class="linkheader"
          >{language == "es" ? "/Proyectos" : "/Projects"}</a
        >
      </li>
      <li class="pb-1 md:p-0 text-color-primary">
        <a href="#contact" class="linkheader"
          >{language == "es" ? "/Contacto" : "/Contact"}</a
        >
      </li>
      <li class="md:p-0">
        <a href="#otros" class="linkheader"
          >{language == "es" ? "/Otros" : "/Others"}</a
        >
      </li>
    </ul>
  </div>
</nav>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const header = document.querySelector("#header") as HTMLElement;
    if (!header) return;

    const menuButton = document.querySelector("#menu-button");
    const menuLinks = document.querySelector("#menu-links");

    let prevScrollpos = window.pageYOffset;

    if (menuButton && menuLinks) {
      menuButton.addEventListener("click", () => {
        menuButton.classList.add("hidden");
        menuLinks.classList.add("flex");
        menuLinks.classList.remove("hidden");
      });

      header.addEventListener("mouseleave", () => {
        menuButton.classList.remove("hidden");
        menuLinks.classList.add("hidden");
      });

      header.addEventListener("blur", () => {
        menuButton.classList.remove("hidden");
        menuLinks.classList.add("hidden");
      });
    }

    window.addEventListener("scroll", function () {
      let currentScrollPos = window.pageYOffset;

      if (prevScrollpos <= currentScrollPos) {
        header.style.top = "-7.2rem";
      } else {
        header.style.top = "0";
      }

      prevScrollpos = currentScrollPos;
    });
  });
</script>

<style>
  #header-container {
    pointer-events: none;
  }

  #header {
    opacity: 60%;
    top: 0;
    transition:
      opacity 0.3s ease-in-out,
      top 0.3s ease-in-out,
      padding 0.3s ease-in-out;
    pointer-events: auto;
  }

  #header:hover {
    opacity: 90%;
  }
</style>
