<nav id="header-container" class="fixed w-full flex justify-center py-6 z-50">
  <ul
    id="header"
    class="inline-flex gap-8 justify-center text-color-primary bg-primary rounded-full py-3 px-8 contenedor-style"
  >
    <li>
      <a href="#" class="ubuntu-regular font-semibold">Inicio</a>
    </li>
    <li>
      <a href="#" class="ubuntu-regular font-semibold">Contacto</a>
    </li>
    <li><a href="#" class="ubuntu-regular font-semibold">Proyectos</a></li>
  </ul>
</nav>

<style>
  #header {
    opacity: 90%;
  }
</style>
