---
import { Image } from "astro:assets";
import img from "../assets/image.webp";
---

<div
  id="inicio"
  class="relative flex flex-col h-[65vh] md:h-[55vh] items-center justify-center bg-secondary transition-bg shadow-bottom"
>
  <div class="absolute inset-0 overflow-hidden">
    <div class="jumbo absolute -inset-[10px] bg-secondary"></div>
  </div>
  <div class="absolute pt-[12vh] z-2">
    <div class="w-65 h-65 bg-primary rounded-full p-2.5 contenedor-style">
      <Image
        src={img}
        loading="eager"
        alt="Imagen"
        class="w-full h-full rounded-full object-cover border border-transparent"
      />
    </div>
    <div class="flex justify-center text-center py-8">
      <h4 class="font-bold pe-2 text-xl text-green-950 ubuntu-mono-regular">
        Disponible
      </h4>
      <span class="h-3 w-3 pointer-events-none mt-[2.5px]">
        <span
          class="animate-ping absolute inline-flex h-3 w-3 mt-1.5 rounded-full bg-green-300"
        ></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-green-300"
        ></span>
      </span>
    </div>
  </div>
</div>

<style>
  @keyframes movingBackground {
    from {
      background-position: 0% 50%;
    }
    to {
      background-position: 200% 50%;
    }
  }

  .jumbo {
    position: absolute;
    inset: 0;
    background: linear-gradient(
      100deg,
      transparent 10%,
      rgba(255, 255, 255, 0.6) 13%,
      rgba(255, 255, 255, 0.7) 16%,
      transparent 20%,
      rgba(255, 255, 255, 0.9) 30%,
      transparent 40%,
      rgba(0, 0, 0, 0.8) 45%,
      transparent 50%,
      rgba(255, 255, 255, 0.5) 53%,
      rgba(255, 255, 255, 0.4) 56%,
      transparent 60%,
      rgba(0, 0, 0, 0.7) 65%,
      transparent 70%,
      rgba(255, 255, 255, 0.9) 75%,
      transparent 80%,
      rgba(0, 0, 0, 0.7) 85%,
      transparent 90%
    );
    background-size: 200% 100%;
    animation: movingBackground 15s linear infinite;
    pointer-events: none;
    filter: blur(5px) opacity(30%);
    mix-blend-mode: overlay;
  }
</style>
