---
import { Image } from "astro:assets";
import img from "../assets/image.webp";
---

<div
  id="inicio"
  class="relative flex flex-col h-[65vh] md:h-[55vh] items-center justify-center bg-secondary transition-bg shadow-bottom"
>
  <div class="absolute inset-0 overflow-hidden">
    <div class="jumbo absolute -inset-[10px] bg-secondary"></div>
  </div>
  <div class="absolute pt-[11.5vh] z-2">
    <div class="w-65 h-65 bg-primary rounded-full p-2.5 contenedor-style">
      <Image
        src={img}
        loading="eager"
        alt="Imagen"
        class="w-full h-full rounded-full object-cover border border-transparent"
      />
    </div>
    <div class="flex justify-center text-center py-8">
      <h4 class="font-bold pe-2 text-xl text-green-950 ubuntu-mono-regular">
        Disponible
      </h4>
      <span class="h-3 w-3 pointer-events-none mt-[2.5px]">
        <span
          class="animate-ping absolute inline-flex h-3 w-3 mt-1.5 rounded-full bg-green-300"
        ></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-green-300"
        ></span>
      </span>
    </div>
  </div>
</div>

<style>
  @keyframes jumbo {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        250% 50%,
        250% 50%;
    }
  }

  .jumbo {
    --stripes: repeating-linear-gradient(
      100deg,
      #23601745 0%,
      #23601745 7%,
      transparent 10%,
      transparent 12%,
      #23601745 16%
    );
    --green: repeating-linear-gradient(
      100deg,
      #cfffcf60 10%,
      #7cff6b79 15%,
      #cfffcf60 20%,
      #38ff5940 25%,
      #cfffcf60 30%
    );
    background-image: var(--stripes), var(--green);
    background-size: 300%, 200%;
    background-position:
      50% 50%,
      50% 50%;
    pointer-events: none;
    mask-image: linear-gradient(0deg, transparent 5%, black 50%);
    filter: opacity(50%);
  }

  .jumbo::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--stripes), var(--green);
    background-size: 200%, 100%;
    animation: jumbo 40s linear infinite;
    background-attachment: fixed;
    mix-blend-mode: difference;
  }
</style>

<script>
  const jumbo = document.querySelector(".jumbo");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (!entry.isIntersecting) {
          jumbo.style.animationPlayState = "paused"; // Pausa la animación
        } else {
          jumbo.style.animationPlayState = "running"; // Reanuda la animación
        }
      });
    },
    { threshold: 0.1 } // Detecta cuando al menos el 10% del elemento está visible
  );

  observer.observe(jumbo);
</script>
