---
import { Image } from "astro:assets";
import img from "../assets/image.webp";

import gb from "../assets/gb.svg";
import es from "../assets/es.svg";

const { language } = Astro.props;

const flag = language == "es" ? gb : es;

const cookies = Astro.cookies;
const themeCookies = cookies.get("theme");
let Theme = "";
let themeValue = "";
let themeString = "oscuro";
let themeIcon = "🌙";
if (themeCookies) {
  Theme = themeCookies.value;
  if (Theme === "dark") {
    themeValue = "dark";
    themeString = "claro";
    themeIcon = "☀️";
  }
}

let path = new URL(Astro.request.url).pathname;
if (path.startsWith("/en")) {
  path = path.slice(3); // Elimina /en
}
---

<div id="inicio" class="pt-15">
  <div
    class="flex w-full justify-end pe-8 pt-5 gap-5 font-bold md:font-semibold text-sm"
  >
    <button
      id="theme-button"
      class="inline-flex ubuntu-mono-regular border-b-1 border-transparent linkheader cursor-pointer"
      value={themeValue}
    >
      Modo {themeString}<span class="ps-2">{themeIcon}</span>
    </button>
    <button
      value={language == "es" ? `en` : `es`}
      id="language-button"
      class="inline-flex ubuntu-mono-regular border-b-1 border-transparent linkheader cursor-pointer"
    >
      {language == "es" ? "English version" : "Versión en español"}<Image
        class="w-auto h-4 ps-2 saturate-70"
        loading="eager"
        src={flag}
        alt={language == "es" ? "USA Flag" : "Spanish Flag"}
      /></button
    >
  </div>
</div>

<script>
  function initThemeButton() {
    const themeButton = document.querySelector(
      "#theme-button"
    ) as HTMLButtonElement;
    if (themeButton) {
      themeButton.addEventListener("click", (e: any) => {
        const currentTheme = e.target.value;
        if (currentTheme === "dark") {
          document.cookie = "theme=light; path=/";
        } else {
          document.cookie = "theme=dark; path=/";
        }
        window.location.reload();
      });
    }
  }

  initThemeButton();
  document.addEventListener("astro:after-swap", () => {
    initThemeButton();
  });
</script>

<script>
  function initLanguageButton() {
    const languageButton = document.querySelector(
      "#language-button"
    ) as HTMLButtonElement;
    if (languageButton) {
      languageButton.addEventListener("click", (e: any) => {
        const currentLanguage = e.target.value;
        if (currentLanguage === "es") {
          document.cookie = "language=es; path=/";
        } else {
          document.cookie = "language=en; path=/";
        }
        window.location.reload();
      });
    }
  }

  initLanguageButton();
  document.addEventListener("astro:after-swap", () => {
    initLanguageButton();
  });
</script>
