---
import Header from "../components/header.astro";
import "../styles/global.css";

import "@fontsource-variable/ubuntu-sans-mono";
import "@fontsource-variable/ubuntu-sans";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Bryan Valenzuela | Análisis de datos y desarrollo web</title>
    <meta
      name="description"
      content="Análisis de datos estadísticos, creación
        de bases de datos, desarrollo funcional y visual de sitios web, y
        servicios de consultoria para mejorar los procesos de negocio."
    />
    <link rel="canonical" href="http://www.bryanvalenzuela.dev" />
    <meta property="og:title" content="Bryan Valenzuela" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.bryanvalenzuela.dev" />
    <meta property="og:image" content="/ogimage.png" />
    <meta
      property="og:description"
      content="Especialista en tecnología y gestión de datos para brindar soporte a la toma de decisiones."
    />
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #f8f1ee;
  }
</style>
